body {background:#0AF394;
	}
div	{background:#FF84F4;
	}
#encabezado{background:black;
}
h1,h2{font-size: 70;
   color:#2E97D9;
   text-align: center;
}
imagen{text-align: center;
background: ##0AF394}