#MINITEXTO{color:#3B87D8
	}

#encabezado{font-size:30;
	        text-align: center;
	        font-style: arial;
}

#fecha{color:#ABABAB;
	}


#parrafo{
	text-align: justify;
	}
	.capital{font-size:2em;
		}
